<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
		<context:annotation-config></context:annotation-config>
		<context:component-scan base-package="com.web"></context:component-scan>
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<property name="url" value="jdbc:mysql:///test"></property>
			<property name="username" value="root"></property>
			<property name="password" value="root"></property>
		</bean>
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="defaultEncoding" value="utf-8"></property>
	<property name="maxInMemorySize" value="10240000"></property>
</bean>
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="packagesToScan">
				<list>
					<value>com.web.vip_auditing_Bean</value>
					<value>com.web.member_account_Bean</value>
					<value>com.web.member_bankcards_Bean</value>
					<value>com.web.subject_Bean</value>
					<value>com.web.subject_purchase_record_Bean</value>
					<value>com.web.member_deposit_record_Bean</value>
					<value>com.web.financial_planner_Bean</value>
					<value>com.web.finance_product_bean</value>
					<value>com.web.font.bean</value>
					<value>com.web.finance_product_bean</value>
					<value>com.web.member_withdraw_record_Bean</value>
					<value>com.web.member_trade_record_Bean</value>
					<value>com.web.award_records_Bean</value>
					<value>com.web.sublect_bbin_purchase_record_Bean</value>
					<value>com.web.news_Bean</value>
					<value>com.web.news_type_Bean</value>
				</list>
			</property>
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.hbm2ddl.auto">update</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				</props>
			</property>
		</bean>

		<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		
		<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="list*" propagation="SUPPORTS"/>
				<tx:method name="add*" propagation="REQUIRED"/>
				<tx:method name="delete*" propagation="REQUIRED"/>
				<tx:method name="update*" propagation="REQUIRED"/>
				<tx:method name="get*" propagation="SUPPORTS"/>
			</tx:attributes>
		</tx:advice>

		<aop:config proxy-target-class="true">
			<aop:pointcut expression="execution(* com.web.*.*(..))" id="transactionCut"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionCut"/>
		</aop:config>
		
		<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
		
</beans>
